.project
.settings
*~
.classpath
.factorypath
target

.idea
*.iml

**/bin/*
test_local.sh
/.metadata/
.recommenders
**/dependency-reduced*
**/*.releaseBackup
release.properties
.attach_pid*
**/output/**/*
**/*.plantuml
**/pom.xml.versionsBackup
**/*.bak
**/node/**
package-lock.json
.idea

**/AGENTS.md
.junie/**
