.project
.settings
*~
.classpath
.factorypath
target

.idea
*.iml

**/bin/*
*.versionsBackup*
test_local.sh
/.metadata/
.recommenders
**/dependency-reduced*
**/*.releaseBackup
release.properties
.attach_pid*
**/output/**/*
**/*.plantuml
