# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
executorType: machine
jobs:
  build:
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: 
          name: Validate formal standards
          command: mvn spotless:check


      # run tests!
      - run: 
          name: FullTest
          command: |
            mvn --version
            mvn -B clean install jacoco:report-aggregate 
            bash <(curl -s https://codecov.io/bash)

      - run: 
          name: Remove factcast artifacts from local repo
          command: rm ~/.m2/repository/org/factcast -rf

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
